@charset "UTF-8";
@use "../mixin/mixin" as m;

.menu-page {
  margin-top: 100px;

  .menu-list {

    &-item {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      position: relative;
      padding: 40px 10px;
      margin-bottom: 180px;
      @include m.tb {
        flex-direction: column;
      }

      .image {
        width: 40%;
        margin-left: 3%;
        display: flex;
        align-items: stretch;
        position: relative;
        @include m.tb {
          width: 100%;
          margin-left: 0;
          margin-bottom: 40px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .info {
        width: 55%;
        @include m.tb {
          width: 100%;
        }

        h3 {
          font-family: "Playfair Display";
          font-size: 4rem;
          color: #987070;
          text-align: center;
          padding-bottom: 20px;
          @include m.tb {
            font-size: 3rem;
          }
        }
  
        .lead-text {
          font-size: 2.4rem ;
          padding-bottom: 20px;
        }

        .text {
          position: relative;
          padding-bottom: 20px;
          margin-bottom: 20px;
          border-bottom: 1px solid rgba(152, 112, 112, 0.5);
        }

        .treatment-details {
          padding-bottom: 20px;
        }
      }
    }

    &-item::after {
      position: absolute;
      content: "";
      background: linear-gradient(180deg, rgba(219,181,181,0.5) 0%, rgba(195,152,152,1) 100%);
      width: 35%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      @include m.tb {
        width: 20%;
      }
    }

    &-item-reverse {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      flex-direction: row-reverse;
      position: relative;
      padding: 40px 10px;
      margin-bottom: 180px;
      @include m.tb {
        flex-direction: column;
      }

      .image {
        width: 40%;
        margin-right: 3%;
        display: flex;
        align-items: stretch;
        position: relative;
        @include m.tb {
          width: 100%;
          margin-right: 0;
          margin-bottom: 40px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .info {
        width: 55%;
        @include m.tb {
          width: 100%;
        }

        h3 {
          font-family: "Playfair Display";
          font-size: 4rem;
          color: #987070;
          text-align: center;
          padding-bottom: 20px;
          @include m.tb {
            font-size: 3rem;
          }
        }
  
        .lead-text {
          font-size: 2.4rem ;
          padding-bottom: 20px;
        }

        .text {
          position: relative;
          padding-bottom: 20px;
          margin-bottom: 20px;
          border-bottom: 1px solid rgba(152, 112, 112, 0.5);
        }

        .treatment-details {
          padding-bottom: 20px;
        }
      }
    }

    &-item-reverse::after {
      position: absolute;
      content: "";
      background: linear-gradient(180deg, rgba(219,181,181,0.5) 0%, rgba(195,152,152,1) 100%);
      width: 35%;
      height: 100%;
      top: 0;
      right: 0;
      z-index: -1;
      @include m.tb {
        width: 20%;
      }
    }
  }
}