@charset "UTF-8";
@use "../mixin/mixin" as m;

footer {
  padding: 60px 0;
  background: rgba(219,181,181,0.5);

  .copy {
    text-align: center;
    font-family: "Playfair Display";
    font-size: 1.4rem;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 60px;
    @include m.tb {
      flex-direction: column;
      align-items: flex-start;
    }

    .info {
      @include m.tb {
        padding-bottom: 60px;
      }

      .logo {
        width: 180px;
        line-height: 1px;
        margin-bottom: 10px;
        @include m.tb {
          width: 150px;
        }

        a {
          display: block;
        }
      }

      .salon-name {
        font-family: "Playfair Display";
        font-size: 2.4rem;
        padding-bottom: 10px;
      }

      .address {
        padding-bottom: 10px;
      }

      .tel {
        font-family: "Playfair Display";
        padding-bottom: 10px;
      }
    }

    .footer-nav-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 60px;  /* 列の余白の間隔（縦）*/
      row-gap: 20px;  /* 行間の余白の間隔（横）*/
      grid-template-areas: 
      "item1 item5"
      "item2 item6"
      "item3 item7"
      "item4 .";

      .item:nth-child(1) { grid-area: item1; }
      .item:nth-child(2) { grid-area: item2; }
      .item:nth-child(3) { grid-area: item3; }
      .item:nth-child(4) { grid-area: item4; }
      .item:nth-child(5) { grid-area: item5; }
      .item:nth-child(6) { grid-area: item6; }
      .item:nth-child(7) { grid-area: item7; }
      @include m.tb {
        column-gap: 40px;  /* 列の余白の間隔（縦）*/
      }
      @include m.sp {
        column-gap: 20px;  /* 列の余白の間隔（縦）*/
      }

      .fa-instagram {
        font-size: 2.4rem;
      }
    }
  }
}

